.order-details .inner-box {
  border: 1px solid rgba(10, 173, 10, 0.3);
}
.order-details .inner-box img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

@media screen and (min-width: 760px) {
  .order-details .inner-box .inner-box-left {
    width: 75%;
    max-width: 75%;
  }
}
